name: ci

on:
  push:
    branches:
      - '**'

env:
  JACOCO_AGGREGATE_PATH: tests-parent/coverage-report/target/site/jacoco-aggregate

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: checkout
        uses: actions/checkout@v6

      - name: setup
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: configure gpg key
        run: |
          echo -n "$GPG_SIGNING_KEY" | base64 --decode | gpg --import
        env:
          GPG_SIGNING_KEY: ${{secrets.GPG_SIGNING_KEY}}

      - name: build
        run: mvn -B clean verify

      - name: upload coverage report
        uses: actions/upload-artifact@v5
        with:
          name: jacoco-report
          path: ${{env.JACOCO_AGGREGATE_PATH}}/

      - name: generate badge
        uses: cicirello/jacoco-badge-generator@v2
        with:
          jacoco-csv-file: '${{env.JACOCO_AGGREGATE_PATH}}/jacoco.csv'

      - name: commit badge
        uses: EndBug/add-and-commit@v9
        with:
          default_author: 'github_actions'
          message: 'update coverage badge'
          add: '*.svg'