name: ci

on:
  push:
    branches:
      - '**'
  pull_request:
  workflow_call:
    secrets:
      GITGUARDIAN_API_KEY:
        required: true
      TU_PAT:
        required: true
      GPG_SIGNING_KEY:
        required: true
    inputs:
      do_deploy:
        description: Whether to execute the deployment step
        type: boolean
        default: false

env:
  JACOCO_AGGREGATE_PATH: tests-parent/coverage-report/target/site/jacoco-aggregate

jobs:
  scan:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: GitGuardian Shield Action
        uses: GitGuardian/ggshield-action@v1
        env:
          GITHUB_PUSH_BEFORE_SHA: ${{github.event.before}}
          GITHUB_PUSH_BASE_SHA: ${{github.event.base}}
          GITHUB_DEFAULT_BRANCH: ${{github.event.repository.default_branch}}
          GITGUARDIAN_API_KEY: ${{secrets.GITGUARDIAN_API_KEY}}
  build:
    runs-on: ubuntu-latest
    needs: scan
    permissions:
      contents: write
    steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
          token: '${{ secrets.TU_PAT }}'

      - name: setup
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: configure gpg key
        if: github.ref == 'refs/heads/main' && inputs.do_deploy == true
        run: |
          echo -n "$GPG_SIGNING_KEY" | base64 --decode | gpg --import
        env:
          GPG_SIGNING_KEY: ${{secrets.GPG_SIGNING_KEY}}

      - name: build
        run: mvn -B clean verify

      - name: upload coverage report
        uses: actions/upload-artifact@v5
        with:
          name: jacoco-report
          path: ${{env.JACOCO_AGGREGATE_PATH}}/

      - name: generate badge
        uses: cicirello/jacoco-badge-generator@v2
        with:
          jacoco-csv-file: '${{env.JACOCO_AGGREGATE_PATH}}/jacoco.csv'

      - name: commit badge / license headers
        uses: EndBug/add-and-commit@v9
        if: github.ref == 'refs/heads/main'
        with:
          default_author: 'github_actions'
          message: 'update coverage badge / license headers'
          add: '*.svg'
        env:
          GITHUB_TOKEN: '${{ secrets.TU_PAT }}'

      - name: deploy
        if: github.ref == 'refs/heads/main' && inputs.do_deploy == true
        run: mvn -B clean deploy -DskipTests=true -DskipGpg=false -Pdelombok-build