name: release

on:
  workflow_dispatch:

jobs:
  build_and_deploy:
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/ci.yml
    permissions:
      contents: write
    with:
      do_deploy: true