name: release

on:
  workflow_dispatch:

jobs:
  build_and_deploy:
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/ci.yml
    permissions:
      contents: write
    secrets:
      GITGUARDIAN_API_KEY: ${{secrets.GITGUARDIAN_API_KEY}}
      TU_PAT: ${{secrets.TU_PAT}}
      GPG_SIGNING_KEY: ${{secrets.GPG_SIGNING_KEY}}
    with:
      do_deploy: true